# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

# Flask-specific
flask_session/
migrations/
.flaskenv
app.db
requirements.txt

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating System
.DS_Store
Thumbs.db

# Sensitive Information (adjust as needed)
.env
config.py 
secrets.py
*.key
*.pem
